* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: #B4556A;
}
body section.bg img.SG {
  margin-top: -7vh;
  height: 100vh;
  position: fixed;
  z-index: -1;
  opacity: 0.4;
}
body section.bg img.SP {
  margin-top: -5vh;
  height: 100vh;
  position: fixed;
  z-index: -1;
  opacity: 0.4;
  padding-left: 83vw;
}

header {
  background-color: #38000D;
  font-weight: bold;
  height: 4vw;
}
header nav {
  padding-top: 0.3vw;
}
header nav ul {
  list-style-type: none;
}
header nav ul a {
  text-decoration: none;
}
header nav ul a li {
  display: inline-block;
}
header nav ul a li p {
  font-size: 1.5vw;
  color: #b6933e;
  padding-left: 1vw;
}

footer {
  background-color: #38000D;
  height: 20vw;
  letter-spacing: 1px;
  line-height: 30px;
}
footer p, footer h1 {
  color: #b6933e;
}
footer p, footer a {
  font-size: 1.3vw;
}
footer h1 {
  font-size: 2.5vw;
}
footer a {
  text-decoration: none;
  color: #b6933e;
}
footer div.futerLevo {
  width: 60%;
  float: left;
}
footer div.futerLevo p, footer div.futerLevo h1 {
  color: #b6933e;
  padding-left: 10vw;
}
footer div.futerDesno {
  width: 40%;
  float: left;
  padding-top: 2vw;
}