header{
	background-color: $tamna;
	font-weight: bold;
	height: 4vw;

	nav{
		padding-top: 0.3vw;

		ul{
			list-style-type: none;
			//text-align: center;

			a{
				text-decoration: none;
				//z-index: 1;

				li{
					display: inline-block;

					p{
						font-size: 1.5vw;
						color: $zlatna;
						padding-left: 1vw;
					}
				}
			}
		}
	}
}